Chapter2/Exercises/Library/LibraryClient/Web References/LibraryService/Library.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileBuffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fields">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="UploadSoapIn">
    <part name="parameters" element="s0:Upload" />
  </message>
  <message name="UploadSoapOut">
    <part name="parameters" element="s0:UploadResponse" />
  </message>
  <portType name="DocServiceSoap">
    <operation name="Upload">
      <input message="s0:UploadSoapIn" />
      <output message="s0:UploadSoapOut" />
    </operation>
  </portType>
  <binding name="DocServiceSoap" type="s0:DocServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/Upload" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DocService">
    <port name="DocServiceSoap" binding="s0:DocServiceSoap">
      <soap:address location="http://localhost:8080/Library/Library.asmx" />
    </port>
  </service>
</definitions>